.blog {
    padding: 175px 0;
    position: relative;
    background: linear-gradient(270deg, #E7E9F3 0%, #E7E9F3 100%);
    @include mediaw(991px) {
        padding: 0 0 50px;
    }
    &::before {
        content: " ";
        display: block;
        width: 100%;
        height: 331px;
        position: absolute;
        top: -1px;
        right: 0;
        background-image: url(../img/elements/bg-what-we-do-before.svg);
        background-size: contain;
        background-repeat: no-repeat;
        @include mediaw(1919px) {
            width: 1920px;
        }
        @include mediaw(576px) {
            height: 400px;
            background-size: cover;
        }
    }
    .row {
        align-items: center;
        @include mediaw(991px) {
            flex-direction: column-reverse;
        }
        div[class^="col-"]:nth-child(2) {
            @include mediaw(991px) {
                margin: 70px 0;
            }
            img {
                display: block;
                margin-left: auto;
                @include mediaw(991px) {
                    margin: 0 auto;
                }
            }
        } 
    }
    &__description {
        margin-top: 44px;
        p {
            font-family: $fontUbuntuLight;
            font-size: 18px;
            line-height: 23px;
            @include mediaw(576px) {
                font-size: 16px;
                line-height: 20px;
            }
            &:not(:first-child) {
                margin-top: 20px;
            }
            strong {
                font-family: $fontUbuntuMedium;
            }
            span {
                color: #CE1D1B;
            }
        }
    }
}

.articles {
    background: #F0F1F8;
    position: relative;
    padding: 211px 0 140px;
    @include mediaw(767px) {
        padding: 100px 75px;
    }
    @include mediaw(576px) {
        padding: 49px 0 50px;
    }
    &::before {
        content: " ";
        display: block;
        width: 100%;
        height: 90px;
        position: absolute;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(../img/elements/bg-articles-before.svg);
    }
}

.article {
    display: block;
    background: #F0F1F8;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    transition: box-shadow .3s;
    &:hover {
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
    }
    &:not(:first-child) {
        margin-top: 30px;
        @include mediaw(576px) {
            margin-top: 20px;
        }
    }
    .row {
        div[class^="col-"]:nth-child(2) > div {
            padding: 30px 30px 30px 0;
            @include mediaw(991px) {
                padding: 20px 15px 15px;
            }
        }
    }
    .image-preview {
        border-radius: 5px 0 0 5px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include mediaw(991px) {
                height: 250px;
                border-radius: 5px 5px 0 0;
            }
        }
    }
    .description {
        margin: 44px 0 30px;
        font-size: 18px;
        line-height: 23px;
        @include mediaw(576px) {
            font-size: 16px;
            line-height: 20px;
            margin: 34px 0 20px;
        }
    }
    .date {
        margin-top: 20px;
        font-size: 16px;
        line-height: 18px;
        @include mediaw(576px) {
            margin-top: 10px;
            font-size: 14px;
            line-height: 16px;
        }
    }
}