.contact {
    padding: 98px 0 97px;
    position: relative;
    background-color: #f0f1f8;
    @include mediaw(576px) {
        padding: 50px 0 64px;
    }
    .section-title {
        color: #ce1d1b;
    }
    &::before {
        content: " ";
        display: block;
        width: 100%;
        height: 426px;
        background: linear-gradient(270deg, #E7E9F3 0%, #E7E9F3 100%);
        position: absolute;
        bottom: 0;
        left: 0;
    }
    &__description {
        margin-top: 44px;
        @include mediaw(576px) {
            margin-top: 34px;
        }
        p {
            font-family: $fontUbuntuLight;
            font-size: 18px;
            line-height: 23px;
            &:not(:first-child) {
                margin-top: 20px;
            }
            strong {
                font-family: $fontUbuntuMedium;
            }
            span {
                color: #CE1D1B;
            }
        }
    }
    .btn {
        margin-top: 20px;
        @include mediaw(576px) {
            margin-top: 10px;
        }
    }
    &__block {
        background: #FFFFFF;
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
        padding: 98px 54px 99px;
        max-width: 510px;
        min-height: 504px;
        position: relative;
        z-index: 1;
        margin-left: auto;
        &::before {
            content: " ";
            display: block;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url(../img/elements/bg-contact-before.svg);
            background-position: right bottom;
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: -1;
        }
    }
    &__logo {
        text-align: center;
    }
    &__email, &__phone {
        font-size: 18px;
        line-height: 21px;
        display: block;
        padding-left: 29px;
        background-repeat: no-repeat;
        background-position: left 1px;
        background-size: 21px;
        &:hover {
            color: #CE1D1B;
        }
    }
    &__email {
        margin-top: 60px;
        background-image: url(../img/content/icon-mail-dark.svg);
        &:hover {
            background-image: url(../img/content/icon-mail-red.svg);            
        }
    }
    &__phone {
        margin-top: 20px;
        background-image: url(../img/content/icon-phone-dark.svg);
        &:hover {
            background-image: url(../img/content/icon-phone-red.svg);
        }
    }
    &__social {
        margin-top: 60px;
        display: flex;
        justify-content: center;
        li {
            &:not(:first-child) {
                margin-left: 30px;
            }
            a {
                display: block;
                width: 20px;
                height: 20px;
                background-size: cover;
                &.instagram {
                    background-image: url(../img/content/Instagram.svg);
                    &:hover {
                        background-image: url(../img/content/Instagram-red.svg);
                    }
                }
                &.linkedin {
                    background-image: url(../img/content/Linkedin.svg);
                    &:hover {
                        background-image: url(../img/content/Linkedin-red.svg);
                    }
                }
                &.facebook {
                    background-image: url(../img/content/Fcaebook.svg);
                    &:hover {
                        background-image: url(../img/content/Fcaebook-red.svg);
                    }
                }
            }
        }
    }
}