.footer {
    position: relative;
    background-color: #E7E9F3;
    padding-top: 73px;
    @include mediaw(576px) {
        padding-top: 60px;
    }
    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 80px;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(../img/elements/bg-footer-before.svg);
        position: absolute;
        top: -79px;
        left: 0;
        @include mediaw(1919px) {
            background-size: contain;
            background-position: center bottom;
        }
        @include mediaw(1680px) {
            background-size: cover;
            height: 79px;
        }
        @include mediaw(1659px) {
            background-size: contain;
        }
        @include mediaw(1536px) {
            background-size: cover;
            height: 79px;
        }
        @include mediaw(1515px) {
            background-size: contain;
        }
        @include mediaw(1440px) {
            background-size: cover;
        }
        @include mediaw(1419px) {
            background-size: contain;
        }
        @include mediaw(1366px) {
            background-size: cover;
        }
        @include mediaw(1345px) {
            background-size: contain;
        }
        @include mediaw(1280px) {
            background-size: cover;
            height: 54px;
            top: -54px;
        }
        @include mediaw(1259px) {
            background-size: contain;
        }
        @include mediaw(800px) {
            background-size: cover;
            height: 34px;
            top: -34px;
        }
        @include mediaw(779px) {
            background-size: contain;
        }
        @include mediaw(411px) {
            top: -33px;
        }
        @include mediaw(360px) {
            background-size: cover;
            height: 15px;
            top: -15px;
        }
        @include mediaw(339px) {
            background-size: contain;
        }
        @include mediaw(320px) {
            background-size: cover;
            height: 14px;
            top: -14px;
        }
    }
    &__logo {
        display: block;
        @include mediaw(576px) {
            text-align: center;
        }
        img {
            max-width: 218px;
            max-height: 60px;
        }
    }
    &__copyright {
        margin-top: 60px;
        background: linear-gradient(90deg, #BB1B1A 0%, #CE1D1B 49.85%, #BB1B1A 100%);
        position: relative;
        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 40px;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url(../img/elements/bg-copyright-before.svg);
            background-position: center bottom;
            position: absolute;
            top: -39px;
            left: 0;
            @include mediaw(1600px) {
                background-size: cover;
                height: 34px;
                top: -33px;
            }
            @include mediaw(1579px) {
                background-size: contain;
            }
            @include mediaw(1366px) {
                background-size: cover;
                height: 29px;
                top: -28px;
            }
            @include mediaw(1345px) {
                background-size: contain;
            }
            @include mediaw(1360px) {
                background-size: cover;
                top: -28px;
            }
            @include mediaw(1339px) {
                background-size: contain;
            }
            @include mediaw(1280px) {
                background-size: cover;
                height: 27px;
                top: -27px;
            }
            @include mediaw(1259px) {
                background-size: contain;
            }
            @include mediaw(1024px) {
                background-size: cover;
                height: 22px;
                top: -22px;
            }
            @include mediaw(1023px) {
                background-size: contain;
            }
            @include mediaw(800px) {
                background-size: cover;
                height: 17px;
                top: -17px;
            }
            @include mediaw(779px) {
                background-size: contain;
            }
            @include mediaw(768px) {
                top: -16px;
            }
            @include mediaw(411px) {
                background-size: cover;
                height: 9px;
                top: -9px;
            }
            @include mediaw(390px) {
                background-size: contain;
            }
            @include mediaw(375px) {
                background-size: cover;
                height: 8px;
                top: -8px;
            }
            @include mediaw(354px) {
                background-size: contain;
            }
            @include mediaw(360px) {
                background-size: cover;
            }
            @include mediaw(339px) {
                background-size: contain;
            }
            @include mediaw(320px) {
                background-size: cover;
                height: 7px;
                top: -7px;
            }
        }
    }
    &__email, &__phone {
        font-size: 18px;
        line-height: 21px;
        display: block;
        padding-left: 29px;
        background-repeat: no-repeat;
        background-position: left 1px;
        background-size: 21px;
        @include mediaw(576px) {
            font-size: 16px;
            line-height: 20px;
            background-size: 20px;
        }
        &:hover {
            color: #CE1D1B;
        }
    }
    &__email {
        margin-top: 40px;
        background-image: url(../img/content/icon-mail-dark.svg);
        @include mediaw(576px) {
            margin-top: 30px;
        }
        &:hover {
            background-image: url(../img/content/icon-mail-red.svg);            
        }
    }
    &__phone {
        margin-top: 20px;
        background-image: url(../img/content/icon-phone-dark.svg);
        &:hover {
            background-image: url(../img/content/icon-phone-red.svg);
        }
    }
    &__social {
        margin-top: 40px;
        display: flex;
        @include mediaw(991px) {
            margin-bottom: 30px;
        }
        @include mediaw(576px) {
            margin: 20px 0 30px;
        }
        li {
            &:not(:first-child) {
                margin-left: 30px;
            }
            a {
                display: block;
                width: 20px;
                height: 20px;
                background-size: cover;
                &.instagram {
                    background-image: url(../img/content/Instagram.svg);
                    &:hover {
                        background-image: url(../img/content/Instagram-red.svg);
                    }
                }
                &.linkedin {
                    background-image: url(../img/content/Linkedin.svg);
                    &:hover {
                        background-image: url(../img/content/Linkedin-red.svg);
                    }
                }
                &.facebook {
                    background-image: url(../img/content/Fcaebook.svg);
                    &:hover {
                        background-image: url(../img/content/Fcaebook-red.svg);
                    }
                }
            }
        }
    }
    &__submenu {
        &:nth-child(2) {
            @include mediaw(576px) {
                margin-top: 30px;
            }
        }
        p {
            font-family: $fontUbuntuMedium;
            font-size: 22px;
            line-height: 25px;
            color: #CE1D1B;
        }
        ul {
            margin-top: 30px;
            padding-left: 23px;
            position: relative;
            &::before {
                content: " ";
                display: block;
                width: 3px;
                height: 100%;
                background-color: #CE1D1B;
                border-radius: 5px;
                position: absolute;
                top: 0;
                left: 0;
            }
            li {
                &:not(:first-child) {
                    margin-top: 22px;
                }
                a {
                    font-size: 18px;
                    line-height: 21px;
                    &:hover {
                        color: #CE1D1B;
                    }
                }
            }
        }
    }
    &__copyright {
        font-size: 18px;
        line-height: 21px;
        color: #fff;
        padding: 30px 0;
        @include mediaw(576px) {
            margin-top: 50px;
            font-size: 16px;
            line-height: 20px;
        }
        div[class^="col-"]:nth-child(2) {
            text-align: right;
            @include mediaw(991px) {
                text-align: initial;
                margin-top: 20px;
            }
        }
    }
}