@import 'normalize';

@import 'variebles';

@import 'fonts';
@import 'responce';
@import 'header';
@import 'home';
@import 'services';
@import 'why';
@import 'contact';
@import 'blog';
@import 'post';
@import 'footer';

body.active, html.active {
    overflow-y: hidden;
}

html {
    overflow-x: hidden;
}

body {
    font-family: $fontUbuntuRegular;
    overflow-x: hidden;
    padding-top: 100px;
    transition: padding .3s;
    // @include mediaw(991px) {
    //     padding-top: 70px;
    // }
    &.scrolled {
        padding-top: 70px;
    }
}

.btn {
    display: inline-block;
    font-family: $fontUbuntuBold;
    font-size: 15px;
    line-height: 17px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: box-shadow .3s;
    padding: 16px 32px;
    &:hover {
        box-shadow: none;
    }
    &--red {
        background-color: #CE1D1B;
        font-size: 16px;
        line-height: 18px;
        color: #fff;
        &:hover {
            color: #fff;
        }
    }
    &--download {
        background-color: #fff;
        color: #CE1D1B;
        padding: 16px 32px 16px 57px;
        background-image: url(../img/elements/icon-download-red.svg);
        background-repeat: no-repeat;
        background-size: 17px;
        background-position: 32px center;
        &:hover {
            color: #CE1D1B;
        }
    }
    &--light {
        color: #CE1D1B;
        background: #FFFFFF;
        &:hover {
            color: #CE1D1B;
        }
    }
    &--back, &--forward {
        background-color: #CE1D1B;
        color: #fff;
        background-repeat: no-repeat;
        &:hover {
            color: #fff;
        }
    }
    &--back {
        background-image: url(../img/elements/icon-arrow-back.svg);
        background-position: 35px center;
        padding: 16px 32px 16px 57px;
        @include mediaw(576px) {
            padding: 16px 25px 16px 50px;
            background-position: 27px center;
        }
        @include mediaw(374px) {
            padding: 16px 10px 16px 25px;
            background-position: 10px center;
        }
    }
    &--forward {
        background-image: url(../img/elements/icon-arrow-forward.svg);
        background-position: calc(100% - 35px) center;
        padding: 16px 57px 16px 32px;
        @include mediaw(576px) {
            padding: 16px 50px 16px 25px;
            background-position: calc(100% - 27px) center;
        }
        @include mediaw(374px) {
            padding: 16px 25px 16px 10px;
            background-position: calc(100% - 10px) center;
        }
    }
}

.section-title {
    font-size: 30px;
    line-height: 34px;
    font-family: $fontUbuntuBold;
    color: #000;
    position: relative;
    @include mediaw(576px) {
        font-size: 28px;
        line-height: 32px;
    }
    &::after {
        content: " ";
        display: block;
        width: 95px;
        height: 4px;
        background-color: #CE1D1B;
        border-radius: 5px;
        position: absolute;
        bottom: -14px;
        left: 0;
    }
    span {
        color: #CE1D1B;
    }
    &--light {
        color: #fff;
        &::after {
            background-color: #fff;
        }
    }
    &--centered {
        text-align: center;
        &::after {
            display: none;
        }
    }
}

.menu-btn {
    position: relative;
    width: 40px;
    height: 40px;
    z-index: 1234;
    display: none;
    align-items: center;
    padding: 10px 5px;
    cursor: pointer;
    @include mediaw(991px) {
        display: flex;
    }
    span {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: relative;
        transition: background-color .3s;
        &::before {
            content: " ";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: -8px;
            left: 0;
            background-color: #fff;
            transition: transform .3s, top .3s;
        }
        &::after {
            content: " ";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            bottom: -8px;
            left: 0;
            background-color: #fff;
            transition: transform .3s, bottom .3s;
        }
    }
    &.active span {
        background-color: transparent;
        &::before {
            transform: rotate(45deg);
            top: -0px;
        }
        &::after {
            transform: rotate(-45deg);
            bottom: -0px;
        }
    }
}